---
import { MenuItemsSchema } from "@/types";
import MenuItem from "./MenuItem.astro";
const url = `${import.meta.env.API_URL}/products?product_categories=6`;
const res = await fetch(url);
const json = await res.json();
const data = MenuItemsSchema.parse(json);
---

<div>
  <h4 class="text-white font-black text-4xl uppercase text-center my-10">
    Comida
  </h4>
  <ul id="food-menu" class="space-y-3">
    {
      data.map((item) => (
        <MenuItem
          title={item.title.rendered}
          description={item.acf.description}
          price={item.acf.price}
          image={item.featured_images}
        />
      ))
    }
  </ul>
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#food-menu",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
  document.addEventListener("astro:after-swap", function () {
    lightbox.init();
  });
</script>
